<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <form (submit)="save($event)">
        <ion-input
          type="email"
          fill="solid"
          label="Email"
          labelPlacement="floating"
          helperText="Enter a valid email"
          errorText="Invalid email"
          [(ngModel)] = "email"
          name="email"
        ></ion-input>
        <ion-button [disabled]="loading" expand="block" type="submit">
          @if(loading){
            <ion-spinner name="lines-sharp-small"></ion-spinner>
          }
            Submit</ion-button>
            @if(message){
              <ion-text color="danger">{{message}}</ion-text>
            }
        <ion-button routerLink="/auth/login" expand="block">Login</ion-button>
        </form>
        </ion-card-content>
  </ion-card>

</ion-content>
