<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <form (submit)="save($event)">
        <ion-input
          type="email"
          fill="solid"
          label="Email"
          labelPlacement="floating"
          helperText="Enter a valid email"
          errorText="Invalid email"
          [(ngModel)] = "email"
          name="email"
        ></ion-input>
        <ion-button expand="block" type="submit">Save</ion-button>
        <ion-button routerLink="/auth/login" expand="block">Login</ion-button>
        </form>
        </ion-card-content>
  </ion-card>

</ion-content>
